@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background-color: white;
  width: 550px;
  height: 500px;
  border-radius: 12px;
}
.numero {
  font-size: 120px;
  text-align: center;
  margin: 5px 5px 5px 5px;
  padding: 0px;
}
.palo_izq {
  position: relative;
  left: 0;
  font-size: 45px;
  /*margin: 5px;*/
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-left: 0%;
  text-align: left;
  margin-top: 2px;
}

.palo_der {
  position: absolute;
  top: 325px;
  right: 0;
  font-size: 45px;
  /*margin: 5px;*/
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-left: 210px;
  text-align: right;
  margin-top: 50px;
}
