@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background-color: white;
  width: 450px;
  height: 500px;
  border-radius: 12px;
}
.numero {
  /*background-color: aquamarine;*/
  font-size: 170px;
  text-align: center;
  margin: 5px 5px 5px 5px;
  padding: 0px;
}
.palo_izq {
  position: relative;
  left: 0;
  font-size: 65px;
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-left: 0%;
  text-align: left;
  margin-top: 2px;
}

.palo_der {
  position: absolute;
  left: 0;
  font-size: 65px;
  transform: rotate(180deg);
  padding: 5px;
  width: 200px;
  height: 100px;
  margin-left: 0%;
  text-align: left;
  margin-top: 2px;
}
