@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  background-color: white;
  width: 550px;
  height: 420px;
  border-radius: 12px;
}
.numero {
  width: 25px;
  height: 15px;
}
.palo_izq {
  display: flex;
  justify-items: flex-start;
  width: 20px;
  height: 15px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.palo_der {
  display: flex;
  justify-items: flex-end;
  width: 20px;
  height: 15px;
  margin: 5px;
  padding: 5px;
  position: relative;
}
